#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"
#include "main.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDM_MAIN MENU
{
	POPUP "File"
	{
		MENUITEM "Settings...", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM "Exit\tEsc", IDM_EXIT
	}
	POPUP "Help"
	{
		MENUITEM "Website", IDM_WEBSITE
		MENUITEM "Check for updates", IDM_CHECKUPDATES
		MENUITEM "About", IDM_ABOUT
	}
}

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM "Copy", IDM_COPY
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 400, 256
STYLE DS_SHELLFONT | WS_POPUP | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	LTEXT           "Error code:", IDC_STATIC, 12, 10, 285, 12
    EDITTEXT        IDC_CODE, 12, 25, 285, 14, ES_AUTOHSCROLL
	CONTROL         "", IDC_CODE_UD, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_SETBUDDYINT | UDS_NOTHOUSANDS | UDS_WRAP, 0, 0, 0, 0

	DEFPUSHBUTTON   "Get description!", IDC_GET, 303, 25, 85, 15

	LTEXT           "As Dec:", IDC_STATIC, 12, 50, 30, 10
    EDITTEXT        IDC_DESCRIPTION_1, 46, 50, 60, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY

	LTEXT           "As Hex:", IDC_STATIC, 12, 64, 30, 10
    EDITTEXT        IDC_DESCRIPTION_2, 46, 64, 60, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY

	LTEXT           "Severity:", IDC_STATIC, 110, 50, 35, 10
    EDITTEXT        IDC_DESCRIPTION_3, 150, 50, 237, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY

	LTEXT           "Facility:", IDC_STATIC, 110, 64, 35, 10
    EDITTEXT        IDC_DESCRIPTION_4, 150, 64, 237, 10, NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY

    CONTROL         "", IDC_LISTVIEW, WC_LISTVIEW, LVS_REPORT | LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP | WS_VSCROLL, 12, 84, 376, 160
}

IDD_SETTINGS DIALOGEX 0, 0, 400, 245
STYLE WS_POPUP | WS_SYSMENU | WS_CAPTION | DS_MODALFRAME | DS_SHELLFONT
CAPTION "Settings"
FONT 8, "Ms Shell Dlg"
{
   	CONTROL "", IDC_NAV, WC_TREEVIEW, TVS_DISABLEDRAGDROP | TVS_SHOWSELALWAYS | TVS_TRACKSELECT | TVS_LINESATROOT | TVS_HASLINES | TVS_INFOTIP | WS_BORDER | WS_TABSTOP, 12, 12, 115, 221

    DEFPUSHBUTTON	"Save", IDC_SAVE, 283, 221, 50, 14
    PUSHBUTTON		"Cancel", IDC_CANCEL, 338, 221, 50, 14
}

IDD_SETTINGS_1 DIALOGEX 139, 13, 249, 197
STYLE WS_CHILD | NOT WS_SYSMENU | NOT WS_BORDER | NOT WS_POPUP | NOT WS_VISIBLE
FONT 8, "Ms Shell Dlg"
{
	LTEXT           "General configuration:", IDC_STATIC, 0, 0, 249, 12

    AUTOCHECKBOX    "Always on top", IDC_ALWAYSONTOP_CHK, 0, 16, 249, 10, 0
    AUTOCHECKBOX    "Insert buffer at startup", IDC_INSERTBUFFER_CHK, 0, 30, 249, 10, 0
    AUTOCHECKBOX    "Periodically check for updates (recommended)", IDC_CHECKUPDATES_CHK, 0, 44, 249, 10, 0

    LTEXT           "Language:", IDC_STATIC, 0, 62, 249, 12
    COMBOBOX        IDC_LANGUAGE, 0, 78, 150, 30, CBS_DROPDOWNLIST | CBS_HASSTRINGS
	LTEXT           "* restart needed", IDC_STATIC, 158, 78, 90, 12, SS_CENTERIMAGE
}

IDD_SETTINGS_2 DIALOGEX 139, 13, 249, 197
STYLE WS_CHILD | NOT WS_SYSMENU | NOT WS_BORDER | NOT WS_POPUP | NOT WS_VISIBLE
FONT 8, "Ms Shell Dlg"
{
	LTEXT           "Please select necessary system modules:", IDC_STATIC, 0, 0, 249, 12

    AUTOCHECKBOX    "", IDC_MODULE_KERNEL32, 0, 16, 249, 10, 0
    AUTOCHECKBOX    "", IDC_MODULE_NTDLL, 0, 30, 249, 10, 0
	AUTOCHECKBOX    "", IDC_MODULE_NTOSKRNL, 0, 44, 249, 10, 0

	AUTOCHECKBOX    "", IDC_MODULE_MSIMSG, 0, 62, 249, 10, 0
	AUTOCHECKBOX    "", IDC_MODULE_WMERROR, 0, 76, 249, 10, 0
	AUTOCHECKBOX    "", IDC_MODULE_DIRECTX, 0, 90, 249, 10, 0

	AUTOCHECKBOX    "", IDC_MODULE_MPSSVC, 0, 108, 249, 10, 0
	AUTOCHECKBOX    "", IDC_MODULE_ADTSCHEMA, 0, 122, 249, 10, 0

	AUTOCHECKBOX    "", IDC_MODULE_NETMSG, 0, 140, 249, 10, 0
	AUTOCHECKBOX    "", IDC_MODULE_NETEVENT, 0, 154, 249, 10, 0
}

IDD_SETTINGS_3 DIALOGEX 139, 13, 249, 197
STYLE WS_CHILD | NOT WS_SYSMENU | NOT WS_BORDER | NOT WS_POPUP | NOT WS_VISIBLE
FONT 8, "Ms Shell Dlg"
{
	LTEXT           "Please enter modules below with semicolon separator:", IDC_STATIC, 0, 0, 249, 12

    EDITTEXT        IDC_MODULE_LIST, 0, 0, 249, 197, ES_MULTILINE
}

//
// String resources
//
STRINGTABLE
{
	IDS_TRANSLATOR "English translation (Henry++)"

	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "New version (%s) available. Open download page?"

	IDS_ABOUT "About"
	IDS_VERSION "Version"

	IDS_COPYRIGHT "This program is redistributed under the terms of the GNU\r\nGeneral Public License v2, see license for details.\r\n\r\nThis software is provided ""as is"" and without any express\r\nor implied warranties."

	IDS_COLUMN_1 "Module"
	IDS_COLUMN_2 "Description"

	IDS_GROUP_1 "Internal modules"
	IDS_GROUP_2 "Custom modules"

	IDS_SETTINGS_1 "General"
	IDS_SETTINGS_2 "Modules (internal)"
	IDS_SETTINGS_3 "Modules (custom)"

	IDS_MODULE_KERNEL32 "Windows (User-Mode)"
	IDS_MODULE_NTDLL "Windows (Kernel-Mode)"
	IDS_MODULE_NTOSKRNL "Blue Screen of Dead (BSOD)"

	IDS_MODULE_MSIMSG "Windows Installer"
	IDS_MODULE_WMERROR "Windows Media"
	IDS_MODULE_DIRECTX "Graphics and Gaming (DirectX)"

	IDS_MODULE_MPSSVC "Windows Protection Service"
	IDS_MODULE_ADTSCHEMA "Windows Security Audit"

	IDS_MODULE_NETMSG "Network Messages"
	IDS_MODULE_NETEVENT "Network Events"
}

//
// Icon resources
//
IDI_MAIN	       		ICON           "res\\100.ico"

//
// Manifest resource
//
1	       				RT_MANIFEST    "res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
	FILEVERSION     APP_VERSION_RES
    PRODUCTVERSION  APP_VERSION_RES
    FILEOS          VOS__WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE "Comments", APP_WEBSITE
            VALUE "CompanyName", APP_AUTHOR
            VALUE "LegalCopyright", "Copyright © 2015 " APP_AUTHOR
            VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
            VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "ProductName", APP_NAME
            VALUE "ProductVersion", APP_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}