#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

#include "resource.h"
#include "rconfig.h"
#include "app.h"

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

//
// Accelerator resources
//
IDA_MAIN ACCELERATORS
{
	"A", IDM_SELECT_ALL, CONTROL, VIRTKEY
	"E", IDM_EXPLORE, CONTROL, VIRTKEY
	"C", IDM_COPY, CONTROL, VIRTKEY
	VK_F1, IDM_ABOUT, VIRTKEY
	VK_F2, IDM_SETTINGS, VIRTKEY
	VK_F11, IDM_ZOOM, VIRTKEY
}

//
// Menu resources
//
IDM_MAIN MENU
{
	POPUP " "
	{
		MENUITEM " ", IDM_SETTINGS
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXIT
	}
	POPUP " "
	{
		MENUITEM " ", IDM_ALWAYSONTOP_CHK
		MENUITEM " ", IDM_INSERTBUFFER_CHK
		MENUITEM " ", IDM_CHECKUPDATES_CHK
		MENUITEM SEPARATOR
		POPUP " "
		{
			MENUITEM " ", IDX_LANGUAGE
		}
	}
	POPUP " "
	{
		MENUITEM " ", IDM_WEBSITE
		MENUITEM " ", IDM_CHECKUPDATES
		MENUITEM " ", IDM_ABOUT
	}
}

IDM_LISTVIEW MENU
{
	POPUP ""
	{
		MENUITEM " ", IDM_ADD
		MENUITEM " ", IDM_DELETE
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_CHECK
		MENUITEM " ", IDM_UNCHECK
		MENUITEM SEPARATOR
		MENUITEM " ", IDM_EXPLORE
		MENUITEM " ", IDM_COPY
	}
}

//
// Dialog resources
//
IDD_MAIN DIALOGEX 0, 0, 366, 174
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN | NOT WS_VISIBLE
CAPTION APP_NAME
MENU IDM_MAIN
FONT 8, "Ms Shell Dlg"
{
	LTEXT			"", IDC_CODE, 8, 6, 148, 10

	EDITTEXT		IDC_CODE_CTL, 8, 18, 148, 14, ES_AUTOHSCROLL | ES_MULTILINE
	CONTROL			"", IDC_CODE_UD, UPDOWN_CLASS, UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_HOTTRACK | UDS_NOTHOUSANDS | UDS_WRAP, 0, 0, 0, 0

	CONTROL			"", IDC_LISTVIEW, WC_LISTVIEW, WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS | LVS_SINGLESEL, 8, 42, 148, 110

	LTEXT			"", IDC_DESCRIPTION, 164, 6, 194, 10

	EDITTEXT		IDC_DESCRIPTION_CTL, 164, 18, 194, 134, WS_VSCROLL | ES_MULTILINE | ES_READONLY

	CONTROL			"", IDC_STATUSBAR, STATUSCLASSNAME, 0, 0, 0, 0, 0
}

IDD_MODULES DIALOGEX 0, 0, 294, 148
STYLE WS_CHILD | WS_SYSMENU | WS_TABSTOP | WS_GROUP | DS_SHELLFONT | DS_CONTROL
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg"
BEGIN
	CONTROL			"", IDC_MODULES, WC_LISTVIEW, NOT WS_BORDER | LVS_SHOWSELALWAYS | LVS_REPORT | LVS_SHAREIMAGELISTS, 0, 0, 292, 140
END

//
// String resources
//
STRINGTABLE
{
	IDS_LCID "0x0409"

	IDS_UPDATE_NO "No updates available."
	IDS_UPDATE_YES "Update available, download and install them?"
	IDS_UPDATE_DOWNLOAD "Downloading update..."
	IDS_UPDATE_DONE "Downloading update finished."
	IDS_UPDATE_ERROR "Update server connection error."
	IDS_UPDATE_INIT "Checking for new releases..."
	IDS_UPDATE_INSTALL "Update available, do you want to install them?"

	IDS_FILE "File"
	IDS_SETTINGS "Settings"
	IDS_EXIT "Exit"
	IDS_LANGUAGE "Language"
	IDS_HELP "Help"
	IDS_WEBSITE "Website"
	IDS_CHECKUPDATES "Check for updates"
	IDS_ABOUT "About"
	IDS_DONATE "Give thanks!"

	IDS_CODE "Error code"
	IDS_MODULES "Modules"
	IDS_DESCRIPTION "Description"

	IDS_ALWAYSONTOP_CHK "Always on top"
	IDS_INSERTBUFFER_CHK "Insert buffer at startup"
	IDS_CHECKUPDATES_CHK "Periodically check for updates (recommended)"

	IDS_STATUS_TOTAL "Loaded modules: %d of %d"

	IDS_CLOSE "Close"
	IDS_RESET "Reset"

	IDS_CHECK "Check selected"
	IDS_UNCHECK "Uncheck selected"

	IDS_ADD "Add"
	IDS_DELETE "Delete"

	IDS_EXPLORE "Open containing folder"
	IDS_COPY "Copy"
}

//
// RC data
//
1				RCDATA		"res\\modules.xml"

//
// Icon resources
//
IDI_MAIN		ICON		"res\\100.ico"

//
// Manifest resource
//
1			RT_MANIFEST		"res\\manifest.xml"

//
// Version Information resources
//
1 VERSIONINFO
FILEVERSION		APP_VERSION_RES
PRODUCTVERSION	APP_VERSION_RES
FILEOS			VOS__WINDOWS32
FILETYPE		VFT_APP
FILESUBTYPE		VFT2_UNKNOWN
FILEFLAGSMASK	0x00000000
FILEFLAGS		VS_FF_PATCHED | VS_FF_PRERELEASE
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904E4"
		{
			VALUE "Comments", APP_COMMENT
			VALUE "CompanyName", APP_AUTHOR
			VALUE "FileDescription", APP_NAME
			VALUE "FileVersion", APP_VERSION
			VALUE "InternalName", APP_NAME_SHORT
			VALUE "LegalCopyright", APP_COPYRIGHT
			VALUE "OriginalFilename", APP_NAME_SHORT ".exe"
			VALUE "ProductName", APP_NAME
			VALUE "ProductVersion", APP_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409, 1252
	}
}
